# Entropy key userspace driver udev rules
#
# Centos 5.5 rules for udev version 095
# 
# These rules create unix sockets under /var/run/entropykey/<serialnumber>
#
# CAUTION: There are known issues with the kernel ttyACM driver (cdc_acm) 
#            in some Centos 5 kernels. To work round this issue a userspace 
#            driver is provided (ekey-ulusbd) These udev rules enable
#            automatic detection of devices in that operation mode.
#
# Copyright 2011 Simtec Electronics
#
# For licence terms refer to the COPYING file.

# Detect an Entropy Key being inserted and extract serial number
ACTION=="add|change|remove", SUBSYSTEM=="usb", BUS=="usb", SYSFS{idVendor}=="20df", SYSFS{idProduct}=="0001", IMPORT{program}="/lib/udev/entropykey_id.sh $sysfs{serial} %b $sysfs{devnum}"

# And tell the ekeyd about the device action.
ENV{ENTROPY_KEY_SERIAL}!="", RUN+="/lib/udev/entropykey.sh"
