# Entropy key userspace driver udev rules
#
# RHEL/Centos 6 rules for udev version 147
# 
# These rules create unix sockets under /var/run/entropykey/<serialnumber>
#
# Copyright 2011 Simtec Electronics
#
# For licence terms refer to the COPYING file.

# Detect an Entropy Key being inserted and extract serial number
ACTION=="add|change|remove", SUBSYSTEM=="usb", BUS=="usb", ATTRS{idVendor}=="20df", ATTRS{idProduct}=="0001", IMPORT{program}="/bin/echo ENTROPY_KEY_SERIAL=$attr{serial}"

# And tell the ekeyd about the device action.
ENV{ENTROPY_KEY_SERIAL}!="", RUN+="/lib/udev/entropykey.sh"
